* {
    margin: 0;
    padding: 0;
    border: none;
}
 
 body {
    background-color: rgb(211, 30, 30);
}

.start_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.game_heading {
    text-decoration: underline;
}

.quiz_description > p{
    text-align: center;
    margin-top: 20px;
}

.begin_quiz {
    font-size: 30px;
    background-color: rgb(130, 139, 157);
    margin: 20px;
}

.badge_start {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(211, 30, 30);
    z-index: 2; 
    cursor: pointer;
  }

#overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: rgba(210, 228, 11, 0.885);;
}

#overlay-text h2 {
    text-decoration: underline;
}

.hide {
    display: none;
} 

/* quiz.html code */

#Quiz_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#Quiz_area h1 {
    font-size: 60px;
    text-decoration: underline;
}

#quiz_display {
    color: black;
    margin-top: 40px;
    background-color: darkgrey;
    width: 900px;
    height: 400px;
}