* {
    margin: 0;
    padding: 0;
    border: none;
}
 
 body {
    background-color: rgb(211, 30, 30);
}

/* index.html css styling */

.start_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.game_heading {
    text-decoration: underline;
}

.quiz_description > p{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.begin_quiz {
    font-size: 30px;
    background-color: rgb(130, 139, 157);
    margin: 20px;
}

.badge_start {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    cursor: pointer;
    background-color: rgb(211, 30, 30);
  }

#overlay-text {
    font-size: 40px;
    color: rgba(210, 228, 11, 0.885);;
    margin-top: 30px;
    font-size: 25px;
}

#overlay-text h2 {
    text-decoration: underline;
}

.hide {
    display: none;
} 

/* quiz.html styling */

.correct {
    background-color: rgb(10, 110, 10);
}

.incorrect {
    background-color: rgb(226, 68, 68);
}

#Quiz_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Quiz_area h1 {
    text-decoration: underline;
    text-align: center;
}

#quiz_display {
    color: black;
    background-color: darkred;
    border: 3px solid rgb(214, 214, 63);
    width: 300px;
    height: 500px;;
    text-align: center;
    margin-top: 20px;
}

#quizQuestions {
    font-size: 30px;
}

.quizAnswers {
    font-size: 30px;
    margin-top: 25px;

}

.quizbtn {
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.questionbtn {
    font-size: 30px;
    background-color: rgb(130, 139, 157);
    margin: 20px;
    padding: 10px;
}

/* results css styling */

#results_display {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    cursor: pointer;
    background-color: rgb(211, 30, 30);
}

#resultsPage {

    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

#results>h2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    text-align: center;
    background-color: darkred;
    border: 3px solid rgb(214, 214, 63);
    height: 300px ;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score>h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.scoreTally {
    font-size: 30px;
}

#scoretext {
    margin-top: 20px;
    font: 30px;
}

.resultsbtn {
    font-size: 30px;
    padding: 10px;
    background-color: rgb(130, 139, 157);
}

#End {
  margin: 20px;
}

/* media Query for Displaying quiz on tablets or bigger */

@media only screen and (min-width: 768px){
    
    #quiz_display {
        width: 700px;
        height: 400px;
    }

    #score {
       height: 300px ;
       width: 500px;
    }

    #scoretext {
        font-size:  30px;
    }
} 

/* media Query for Display quiz on laptops or bigger */

@media only screen and (min-width: 1024px) {
    .start_page {
        font-size: 30px;
    }

    #overlay-text {
        font-size: 40px;
    }

    #Quiz_area h1 {
        font-size: 60px;
    }

    #quiz_display {
        font-size: 30px;
        width: 800px;
        height: 400px;;
    }

    #quizQuestions {
        font-size: 37px;
    }

    #score {
        height: 400px ;
        width: 700px;
    }

}